/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* _______________Variables */

:root {
  --green-color: #7ACC2D;
  --white-color: white;
  --black-color: #313337;
  --gray-color: #c5c5c5;
  /* Espaciado */
  --space: 10px;
  --extra-space: 2rem;
  /* tipography*/
  --normal: 12px;
  --large: 1.4rem;
  --font-footer: 13px;
  /* box shadown */
  --box: 0 0 2px 1px #e6e5e9;
}
/* ________________Variables*/

html, body {
  padding: 0px;
  margin: 0;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}


/*-------------------- Navbar section*/

nav {
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between; /* separa los elementos del nav*/
  align-items: center;
  box-shadow: 0 0 5px 1px #1b1919;
}

nav ul { /* todos los ul del nav*/
  display: flex;
  padding-right: 20px;
}

nav li { /*todos los li del nav*/
  padding-right: 20px;
  list-style: none; /* para quitar los puntos de la lista*/
}

nav li:last-child { /*el ultimo elemento de la lista*/
  padding-right: 10px;
}

nav li a {
  color: var(--black-color);
  text-decoration: none; /*para quitar las linea de los botones*/
}

nav li a:hover {
  color: var(--white-color);
}

/*--------------------Main section */

.main_section {
  padding: 5% 25% 12% 25%;
  text-align: center;
}

/*___________ products*/

.products {
  background-image: url('../images/curve.png'); /* no devolvemos una carpeta*/
  padding: 10% 20% 5% 20%;
  background-position: center top;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 2rem;
  background-size: cover; /* Significa que ocupe el tamaño del div que se tiene*/
}

.product {
  padding: var(--space);
  margin-top: -240px;
}

.product .content {
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box);
  border: 10px double var(--black-color);
}

.img_content {
  text-align: center;
}

.main_button {
  background-color: var(--green-color);
  width: 100%;
  padding: 10px;
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  cursor: pointer; /* para que salga la mano*/
  border-radius: 2px;
}

.main_button:hover {
  background-color: #5e9e22;
}

/*___________ Beneficios*/
.beneficios {
  padding: 10%;
  display: flex;
}

.beneficio {
  text-align: center;
  padding: 20px;
}

.beneficio img {
  max-height: 100px;
}

.text-beneficio {
  text-align: justify;
}


/*__________________ Menciones */
.mentions {
  display: flex;
  padding: 5%;
}

.mention img {
  width: 100%;
}

h2.mention-title {
  text-align: center;
  font-size: 2rem;
}

.mention {
  padding: var(--space);
  width: 100%;
}

.content-mention {
  box-shadow: var(--box);
}

.mention .text {
  padding: var(--space);
}

/*_____________________ Venta*/
.venta-producto {
  min-height: calc(100vh - 9rem);
  padding: var(--extra-space) 25%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: var(--extra-space);
  align-content: center;
}

.venta-producto .producto {
  position: initial;
  box-shadow: var(--box);
  padding: 0 20px 20px 20px;
}

.venta-producto .modulo-de-pago {
  box-shadow: var(--box);
  padding: var(--space);
  height: fit-content;
}

.modulo-de-pago label {
  display: block;
}
      
.modulo-de-pago input {
  width: 100%;
  height: 2.5em;
  margin: .7em 0;
  padding: .7em;
  box-sizing: border-box;
  font-size: var(--large);
  border-radius: 3px;
  border: 1px solid var(--gray-color);
}

.modulo-de-pago .form-buttom {
  background-color: var(--green-color);
  width: 100%;
  padding: 10px;
  font-size: var(--large);
  color: var(--white-color);
  border: none;
  border-radius: 0.2rem;
  margin-bottom: 0;
  font-weight: 600;
  cursor: pointer;
}

.form-buttom:hover {
  background-color: #5e9e22;
}

figure {
  margin: 0px;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

/*_____________________ Footer*/
footer {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-footer);
  background-color: var(--black-color);
  padding: var(--space);
  color: var(--white-color);
  padding: 20px;
}

.info a {
  color: var(--green-color);
}
